<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="carsManagementService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="MongoDBConectionString" value="mongodb://localhost:27017" />
      <add key="MongoDBDatabaseName" value="CarsDB"/>
    </appSettings>
      <userSettings>
        <carsManagementService.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>carManagement</value>
            </setting>
        </carsManagementService.Properties.Settings>
    </userSettings>
</configuration>