<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exchangeReservation" value="request.reservation"/>
    <add key="reservationByIDKey" value="get_res_by_id_key"/>
    
    <add key="exchangeCars" value="request.reservation"/>
    
  </appSettings>
    <startup> 
            <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>